<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous">

    <title>Register</title>
</head>
<body>
    <h1 style="text-align: center;">
        Register
    </h1>
    <br>
    <div id="loginForm" class="jumbotron" style="text-align: center;">
        <form action="/register" method="POST">
            <div>
                <label for="name">Name</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div>
                <label for="email">Email</label>
                <input type="text" id="email" name="email" required>
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" id="password" nane='password' required>
            </div>
            <button type="submit">Register</button>
        </form>
        <p>Go to <a href="/login">Login</a></p>
    </div>
</body>
</html>